<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Random Walk Simulator</title>
</head>
<body>
   <h1>Play with our random walker!</h1>

   <form method="POST">
    <div class="form-group">
        <label for="title">Initial Position</label>
        <input type="number" name="xcoordinate"
               placeholder="x coordinate" class="form-control"
               value="{{ request.form['xcoordinate'] }}"></input>
        <input type="number" name="ycoordinate"
               placeholder="y coordinate" class="form-control"
               value="{{ request.form['ycoordinate'] }}"></input>
    </div>

    <div class="form-group">
        <label for="title">Probabilities</label>
        <input type="number" name="up"
               placeholder="Up probability" class="form-control"
               value="{{ request.form['up'] }}"></input>
        <input type="number" name="right"
               placeholder="Right probability" class="form-control"
               value="{{ request.form['right'] }}"></input>
        <input type="number" name="down"
               placeholder="Down probability" class="form-control"
               value="{{ request.form['down'] }}"></input>
        <input type="number" name="left"
               placeholder="Left probability" class="form-control"
               value="{{ request.form['left'] }}"></input>
    </div>

    <div class="form-group">
        <label for="title">Number of Iterations</label>
        <input type="number" name="numberofiterations"
               placeholder="Number of iterations" class="form-control"
               value="{{ request.form['numberofiterations'] }}"></input>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Walk!</button>
    </div>
</form>
<!--
 <form method=get action="/">
 #     <input name="num_x_points" type=number value="{num_x_points}" />
 #     <input type=submit value="update graph">
    </form>
-->
 <h3>Plot as a png</h3>
 
    <img src="/plot.gif"
         alt="random points as png"
         height="800"
    >
  
    
   <!--
    <video controls="" autoplay="" name="media">
    <source src="/plot.mp4" type="video/mp4">
  </video>
  -->
</body>
</html>